venv
# Python artifacts
__pycache__/
*.py[cod]
*.so

# Build directories
dist/
build/
packboost/_backend.*
*.o
*.egg-info/

# Virtual environments
.venv/
.env/

# Jupyter checkpoints
.ipynb_checkpoints/

# IDE metadata
.vscode/
.idea/
*.swp

# Data / cache
/data/
numerai-data/
.cache/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
catboost_info/
2309.14496v5.pdf
EraSplitting.txt